
@import "./custom-bootstrap.scss";

body {
  background-image: url("../images/bgdragon.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@import "./DisplayNpc.scss";
@import "./UserInput.scss";
@import "./NpcData.scss";
@import "./Footer.scss";