.title-image-wrapper {
  margin: 0 12px 12px 12px;
}

.title-image {
  margin: 0 auto;
  background-image: url("../images/npcgenerator.png");
  background-size: 100% 100%;
  border: none;
  max-width: 220px;
  height: 32px;
}

.user-info-col {
  margin-bottom: 20px;
  height: 100%;
}

.user-info {
  border: none;
  background-color: rgba(46, 56, 55, 0.5);
  border-radius: 8px;
  color: var(--bs-white);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  padding-bottom: 23px;
  padding-top: 23px;
}

.display-npc-root .card {
  margin-bottom: 20px;
}

.display-npc-root {
  margin-top: 60px;
}
@include media-breakpoint-down(md) {
  // On small screens, no need to have such a big margin at the top
  .display-npc-root {
    margin-top: 1rem;
  }
}

.printing {
  display: none;
}

.printing .card {
  margin-bottom: 20px;
}

@media print {
  @page {
    size: 8.5in 11in;
    margin: 14mm;
  }
  .printing {
    display: block;
    .row {
      page-break-inside: avoid;
    }
    .card {
      height: calc(100% - 20px);
    }
    .col-print-6 {
      width: 50%;
    }
    .col-print-4 {
      width: 33%;
    }
    .first-row-height {
      min-height: unset !important;
    }
    .second-row-height {
      min-height: unset !important;
    }
    .ability-table {
      margin-left: 0px !important;
    }
    .ability-number {
      padding-right: 0px !important;
    }
  }
  .display-npc-root {
    display: none;
  }
}
